@import "utils/variables/colors";
.search-field {
  display: flex;
  max-width: 50vw;
  max-height: 2.5em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 35%;
  form {
    width: 100%;
    max-height: 2.5em;
    height: 100%;
    input {
      max-height: 2.5em;
      height: 100%;
      width: 70%;
      border: solid 1px transparent;
      border-radius: 1.2em;
      padding-left: 7%;
      font-size: 1vmax;
      opacity: 0.7;
      background: white url(../assets/search-icon.png) no-repeat 2% 50%;
      background-size: 5%;
      &::selection {
        background-color: $lightBeige;
      }
    }
  }
}


@media screen and(max-width: 900px) {
  .search-field {
    input {
      background-position: 2% 50%;
      background-size: 10%;
    }
  }
}