@import "./variables/colors";

.recipes-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  ul.recipe {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    list-style: none;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    li {
      width: 100%;
      max-width: 15em;
      margin: 1%;
      a {
        border: none;
        background-color: transparent;
        .image-container {
          width: 15em;
          height: 15em;
          max-width: 15em;
          max-height: 15em;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5%;
          }
        }
        div.recipe-title {
          padding: 5% 0;
          font-size: 1.5vmax;
        }
        .recipe-time {
          color: $accentTextColor;
          font-size: 1vmax;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .recipes-container {
    ul.recipe {
      li {
        a {
          div.recipe-title {
            font-size: 2vmax;
          }
          .recipe-time {
            font-size: 1.5vmax;
          }
        }
      }
    }

  }
}