.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: bg 1s;
}

.search-field {
  display: flex;
  max-width: 50vw;
  max-height: 2.5em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 35%;
}
.search-field form {
  width: 100%;
  max-height: 2.5em;
  height: 100%;
}
.search-field form input {
  max-height: 2.5em;
  height: 100%;
  width: 70%;
  border: solid 1px transparent;
  border-radius: 1.2em;
  padding-left: 7%;
  font-size: 1vmax;
  opacity: 0.7;
  background: white url(../assets/search-icon.png) no-repeat 2% 50%;
  background-size: 5%;
}
.search-field form input::selection {
  background-color: #c4ad80;
}

@media screen and (max-width: 900px) {
  .search-field input {
    background-position: 2% 50%;
    background-size: 10%;
  }
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.filter-container .filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 15em;
  width: 100%;
  max-height: 2.8em;
  height: 100%;
  background-color: transparent;
  border-radius: 1em;
  border: 1px solid #917b4e;
  padding: 1%;
  margin: 0 1%;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100vw;
  width: 100vw;
  position: relative;
}
.slideshow .slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slideshow .slideshowSlider .slide {
  display: inline-block;
  height: 30em;
  width: 100%;
  object-fit: cover;
}

.authorization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  border: 1px solid #917b4e;
  border-radius: 3em;
  max-width: 25%;
  width: 100%;
  height: 100%;
  margin: 5% auto;
}
.authorization-container .authorization-form {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}
.authorization-container .authorization-form .authorization-input {
  border: none;
  border-bottom: 1px solid black;
  margin: 3% 0;
}
.authorization-container .authorization-form button {
  background-color: #dfd2b9;
  padding: 2% 0;
  margin: 5% 0;
  border: 1px solid #dfd2b9;
  border-radius: 1em;
  font-family: Nunito;
}
.authorization-container .authorization-form .authorization-label {
  padding: 2% 0;
}
.authorization-container .authorization-form .error-message {
  text-align: center;
  color: #ff6666;
}
.authorization-container .authorization-form a {
  text-align: center;
  color: #917b4e;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.recipes-container .recipes-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 0;
  width: 90%;
  max-width: 90%;
  flex-wrap: wrap;
  height: auto;
}
.recipes-container .recipes-list h1 {
  text-align: center;
  padding: 1%;
  color: #917b4e;
  font-family: "Prosto One";
  font-weight: normal;
}
.recipes-container .recipes-list ul.recipe {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}
.recipes-container .recipes-list ul.recipe li {
  width: 100%;
  max-width: 15em;
  margin: 1%;
  position: relative;
}
.recipes-container .recipes-list ul.recipe li a {
  border: none;
  background-color: transparent;
}
.recipes-container .recipes-list ul.recipe li a .image-container {
  width: 15em;
  height: 15em;
  max-width: 15em;
  max-height: 15em;
}
.recipes-container .recipes-list ul.recipe li a .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.recipes-container .recipes-list ul.recipe li a .recipe-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1vmax;
}
.recipes-container .recipes-list ul.recipe li a .recipe-info .recipe-time {
  color: #917b4e;
}
.recipes-container .recipes-list ul.recipe li a div.recipe-title {
  padding: 5% 0;
  font-size: 1.5vmax;
}

@media screen and (max-width: 900px) {
  .recipes-container ul.recipe li a div.recipe-title {
    font-size: 2vmax;
  }
  .recipes-container ul.recipe li a .recipe-time {
    font-size: 1.5vmax;
  }
}
h1 {
  font-size: 2vmax;
}

.recipe-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}
.recipe-container .recipe-preview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #c4ad80;
  margin: 0 3% 3% 3%;
  padding: 3% 0;
}
.recipe-container .recipe-preview .recipe-info {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 45%;
  justify-content: center;
  max-height: 30em;
  padding-right: 3%;
}
.recipe-container .recipe-preview .recipe-info .recipe-title {
  font-size: 2.5vmax;
  font-weight: bold;
}
.recipe-container .recipe-preview .recipe-info .recipe-author {
  color: #c4ad80;
  padding: 2% 0;
  font-size: 1.25vmax;
}
.recipe-container .recipe-preview .recipe-info .recipe-description {
  padding: 2% 0;
  font-size: 1.3vmax;
}
.recipe-container .recipe-preview .recipe-info .recipe-subinfo {
  display: flex;
}
.recipe-container .recipe-preview .recipe-info .recipe-subinfo div {
  height: 80%;
  align-items: center;
  justify-content: center;
  color: #c4ad80;
  font-size: 1.5vmax;
  text-align: center;
  padding: 5%;
  border-right: 1px solid #c4ad80;
  word-wrap: break-word;
}
.recipe-container .recipe-preview .recipe-info .recipe-subinfo div:last-child {
  padding-right: 0;
  border-right: none;
}
.recipe-container .recipe-preview .recipe-info .recipe-subinfo div:first-child {
  padding-left: 0;
}
.recipe-container .recipe-preview .recipe-image {
  position: relative;
  display: flex;
  max-width: 30em;
  max-height: 30em;
}
.recipe-container .recipe-preview .recipe-image img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
}
.recipe-container .recipe-instructions {
  margin: 0 15% 5% 15%;
  display: flex;
  position: relative;
}
.recipe-container .recipe-instructions .recipe-ingredients {
  display: flex;
  flex-direction: column;
  flex: 30%;
  margin-right: 5%;
}
.recipe-container .recipe-instructions .recipe-ingredients .ingredients-list .ingredients-item {
  padding: 2% 0;
  font-size: 1.25vmax;
}
.recipe-container .recipe-instructions .recipe-directions {
  display: flex;
  flex: 70%;
  flex-direction: column;
}
.recipe-container .recipe-instructions .recipe-directions .direction {
  padding: 1% 0;
}
.recipe-container .recipe-instructions .recipe-directions .direction h2 {
  font-size: 1.3vmax;
}
.recipe-container .recipe-instructions .recipe-directions .direction p {
  font-size: 1.25vmax;
}

@media screen and (max-width: 900px) {
  .recipe-container {
    justify-content: center;
  }
  .recipe-container .recipe-preview {
    display: flex;
    flex-direction: column;
  }
  .recipe-container .recipe-preview .recipe-info {
    max-width: 30em;
    padding: 3% 3% 0 0;
  }
  .recipe-container .recipe-preview .recipe-info .recipe-title {
    font-size: 3vmax;
  }
  .recipe-container .recipe-preview .recipe-info .recipe-subinfo div {
    padding: 5%;
  }
  .recipe-container .recipe-preview .recipe-image {
    max-height: 20em;
  }
  .recipe-container .recipe-preview .recipe-image img {
    max-height: 20em;
    height: 100%;
  }
  .recipe-container .recipe-instructions {
    flex-direction: column;
    margin: 3%;
  }
  .recipe-container .recipe-instructions .recipe-ingredients .ingredients-list .ingredients-item {
    padding: 1% 0;
  }
}
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  background: white;
  max-width: 100%;
  max-height: 4em;
  width: 100%;
  z-index: 99;
  padding: 1% 2%;
}
.navbar-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex: auto;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 50%;
}
.navbar-container .logo a {
  line-height: 0;
  font-family: Prosto One;
  font-size: 1.5vmax;
  color: #917b4e;
}
.navbar-container .logo a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.navbar-container .user-links {
  padding: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.navbar-container .user-links .user-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2em;
  max-height: 2em;
}
.navbar-container .user-links .user-profile a {
  line-height: 0;
}
.navbar-container .user-links .user-profile a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-container .user-links .user-authentication {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.navbar-container .user-links .user-authentication a {
  white-space: nowrap;
  padding: 5%;
  font-size: 1vmax;
}

@media screen and (max-width: 900px) {
  .navbar-container {
    padding: 3% 10%;
    align-items: center;
  }
  .navbar-container .logo {
    position: relative;
    top: 0;
    left: 0;
    justify-content: left;
  }
  .navbar-container .logo a {
    font-size: 2.5vmax;
  }
  .navbar-container .user-links .user-authentication a {
    font-size: 1.5vmax;
  }
  .navbar-container .user-links .user-profile {
    max-width: 1.5em;
    max-height: 1.5em;
  }
}
.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
.user-profile-container > input[type=radio] {
  display: none;
  border: none;
}
.user-profile-container > div {
  display: none;
}
.user-profile-container #tab-btn-1:checked ~ #content-1,
.user-profile-container #tab-btn-2:checked ~ #content-2 {
  display: block;
}
.user-profile-container > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  padding: 1%;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  border: none;
}
.user-profile-container > label:not(:first-of-type) {
  border-left: none;
}
.user-profile-container > input[type=radio]:checked + label {
  background-color: #c4ad80;
}
.user-profile-container .creation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-profile-container .creation-form .recipe-creation-form {
  display: flex;
  flex-direction: column;
}
.user-profile-container h1 {
  white-space: nowrap;
  text-align: center;
  padding: 1%;
  color: #917b4e;
  font-family: "Prosto One";
  font-weight: normal;
}
.user-profile-container .logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8em;
  width: 100%;
  max-height: 2.8em;
  height: 100%;
  background-color: #dfd2b9;
  border-radius: 1em;
  border: 1px solid #917b4e;
  padding: 1%;
  margin: 0 1%;
}

:is(button.button-favorite-like, button.button-favorite-dislike) {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 2%;
  right: 2%;
}
:is(button.button-favorite-like, button.button-favorite-dislike) img {
  width: 2em;
  height: 2em;
}

.user-profile-message {
  position: relative;
  text-align: center;
  font-size: 2em;
}

@font-face {
  font-family: "Nunito";
  src: url("../../../fonts/Nunito-VariableFont_wght.ttf");
  src: url("../../../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../../../fonts/Nunito-Italic-VariableFont_wght.ttf");
  src: url("../../../fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Prosto One";
  src: url("../../../fonts/ProstoOne-Regular.ttf");
  src: url("../../../fonts/ProstoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  overflow-x: hidden;
}

button, input {
  font-family: "Nunito";
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
