@import "styles/loader";
@import "styles/search";
@import "styles/filter";
@import "styles/search-container";
@import "styles/authorization";
@import "styles/recipes";
@import "styles/recipe";
@import "styles/navbar";
@import "styles/user-profile";
@import "styles/utils/fonts/nunito";
@import "styles/utils/fonts/prosto-one";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
}
button, input {
  font-family: "Nunito";
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
